<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleStaging" resourceType="Unspecified" xdt:Transform="SetAttributes" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebConfigTest.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: B86B2B03-E501-4B65-A412-149FE5634246-->